/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500&family=Roboto:wght@300;400;500&display=swap');

@font-face {
    font-family: 'Run';
    src:    url('../fonts/Run to the Hills.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Bill';
    src:    url('../fonts/Billionaire.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

/* Body */

body {
    background: url("../images/background.jpg");
    background-position: fixed;
}

/* header */ 

#page-header { 
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

#page-title {
    color:ivory;
    font-family: 'Run';
    font-size: 80px;
}

/* Game Area */

#game-area {
    display: flex;
    justify-content: center;
}

#play-area {
    height:600px;
    background-color: rgba(237, 233, 232, 0.75);
}
/* Player Areas */


.player-header {
    text-align: center;
    padding-top: 30px;
    font-family: Jost;
    font-size: 30px;
    
}

.active-player::after {
    content:"\22B2";
    color:#c7c038;
    font-size: 60px;    
    position: absolute;
    top: 9px;
     
}

.score-current {
    position:static;
    height: 300px;
    margin:10px;
    background-color: grey;
    font-family: Jost;
    color:ivory;
    font-size:150px;
    text-align: center;
}
.score-output {
    height:200px;
    margin:10px;
    background-color:#0f1587;
    font-family: Jost;
}
.score-heading {
    color: ivory;
    text-align: center;
}

.score-total {
    position:static;
    color: ivory;
    font-size:100px;
    text-align: center;
}

/* Center Dice Area */

#unstuckNumber {
    color:#b52222;
}

#dice-area {
    height: 600px;
    display: inline-block;
    justify-content: center;
    }
#banner-area {
    height: 250px;
}
.roundNumbers {
    text-align: center;
    padding-top: 30px;
    font-family: Jost;
}


#dice-area ul {
    display:flex;
    justify-content: center;
    height: 250px;
    padding: 0;
}
#dice-area ul li {
    list-style:none;
    display: inline;  
    align-self: middle;
}
.dice {
    padding:4px;
}

#button-box {
    display: flex;
    justify-content: center;
}
/* Player 2 */


/* Footer */

.restart-buttons {
    display: flex;
    justify-content: center;
    padding: 50px;
}

/* Modals */

#stuckModal .modal-content {
    text-align: center;
}


